<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DuLichWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DuLichWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="header-area">
                
                <div class="web-title">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DuLichWeb</a>
                </div>
                <div class="web-menu">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a>Giới thiệu</a></li>
                        <li><a>Liên hệ</a></li>
                    </ul>
                </div>
                <div class="web-account">
                    @{
                        bool isValueAccount = UserAccount.Instance().taiKhoan != null;
                        var accountName = isValueAccount ? UserAccount.Instance().taiKhoan!.UserName : "Không Có Tài Khoản";
                        var accountUrl = isValueAccount ? Url.Action("Index", "TaiKhoan") : Url.Action("Login", "TaiKhoan");
                        var signUrl = isValueAccount ? Url.Action("Logout", "TaiKhoan")
                            : Url.Action("Login", "TaiKhoan");
                        var signText = isValueAccount ? "Đăng Xuất" : "Đăng Nhập";
                    }
                    <a class="account-view" href="@accountUrl">

                        <label style="color: black;" class="account-name">@accountName</label>
                    </a>
                    <div class="line"></div>
                    <a class="sign-view" style="color: black;" href="@signUrl">
                        @signText
                    </a>
                </div>

                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DuLichWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-view">
            <div class="ft1">
                <h4>Về Chúng Tôi</h4>
                <ul>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Thỏa thuận người dùng</a></li>
                    <li><a href="#">FAQs</a></li>

                </ul>
            </div>
            <div class="ft2">
                <h4>Liên Hệ</h4>
                <ul>
                    <li><a href="#"><span class="fab fa-facebook-f"></span> Facebook</a></li>
                    <li><a href="#"><span class="fab fa-youtube"></span> Youtube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
